@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{   

    .Prose {        
        grid-template-columns: [full-start] minmax(12px, 1fr) [main-start] minmax(0, 1296px) [main-end] minmax(12px, 1fr) [full-end];        
        @apply grid auto-rows-max
    }

    .Prose > * {
        grid-column: main;
    }

    .Prose-splash {
        grid-column: full;
    }

    main{
        @apply grow
    }

    .router-link-active{
        @apply opacity-50;
    }

    .logo-link{
        @apply opacity-100;
    }

    .input_primary{
        @apply py-[18px] px-3 bg-white border border-solid border-[#CCCCD1] shadow-[0_0_0_0_#CBDAFC] rounded text-base text-[#26263A] placeholder:text-[#26263A] placeholder:text-base;
    } 

    .bg_aboutUs{
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../img/about.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    body, #__nuxt{
        @apply h-screen m-0 flex flex-col        
    }    

    .wrapper{
        @apply w-full max-w-[1320px] px-3 mx-auto        
    }    

    .h1{
        @apply font-bold text-4xl md:text-5xl leading-tight        
    }
    
    .h2{
        @apply font-bold text-2xl md:text-4xl leading-tight 
    }

    .grid-full{
        grid-column: full;
    }
    
    .btn_secondary_big{
        @apply flex py-4 px-7 items-center justify-center rounded font-semibold text-lg uppercase border-2 border-white border-solid cursor-pointer      
    }
    
    .btn_secondary{
        @apply flex items-center justify-center rounded px-3 py-3 font-semibold text-sm uppercase border border-[#003771] text-[#003771] border-solid cursor-pointer
    }       

    .btn_primary{
        @apply flex items-center justify-center bg-[#003771] rounded px-3 py-3 font-semibold text-sm uppercase border border-[#003771] text-white border-solid cursor-pointer
    }
    
    .btn_primary_big{
        @apply flex py-4 px-7 bg-[#003771] items-center text-white justify-center rounded font-semibold text-lg uppercase border-2 border-white border-solid cursor-pointer
    }

    .proposal{
        background: url(../img/gradient_blue.svg), url(../img/IMG_1.png);
        background-position: left, right;
        background-repeat: no-repeat;    
    }
    
    .catalogs{
        grid-template-columns: [full-start] minmax(170px, 306px) 1fr [full-end];   
    }
    
    .advantages{
        background: linear-gradient(142.34deg, #003B72 41.73%, #009DD9 129.1%);   
    }

    .tabs .tabs-btn{
        @apply flex bg-[#F2F4F6] mb-4 rounded-lg w-fit cursor-pointer font-light text-base        
    }
    
    .tabs .tabs-btn a{
        @apply p-4 rounded-lg    
    }
    
    .tabs .tabs-btn a.is-active {
        @apply border border-solid border-black p-[15px] bg-white  
    }    

    .tabs .tabs-component-tabs{
        @apply flex gap-4 overflow-auto        
    }
    
    .tabs .tabs-component-tabs::-webkit-scrollbar{
        @apply h-0
    }
    
    .tabs-component-panel{
        @apply flex gap-4 mt-4          
    }   

    .swiper-button-prev , .swiper-button-next{   
        @apply w-14 h-14 mt-0 -translate-y-1/2 absolute max-md:hidden      
    }
    
    .swiper-button-prev {   
        content: url('~/assets/img/swiper-prev.svg');
    }
    
    .swiper-button-next {   
        content: url('~/assets/img/swiper-next.svg');
    }
    
    .swiper-button-prev:after {   
        content: "";
    }    
    
    .other_box {      
        background: linear-gradient(173.16deg, #EEF1F4 5.74%, #FFFFFF 103.32%);
    }  

    .mySwiper4 .swiper-wrapper{
        @apply mt-20
    }
    
    .mySwiper4 .swiper-pagination{
        @apply flex gap-2.5 top-0 justify-between h-fit items-center        
    }
    
    .mySwiper4 .swiper-pagination::-webkit-scrollbar{
        @apply h-0
    }   
    
    .mySwiper4 .swiper-pagination-bullet{
        @apply w-auto text-[#009DD9] bg-transparent text-lg opacity-100 h-fit rounded-none        
    }
    
    .mySwiper4 .swiper-pagination-bullet-active{
        @apply font-bold text-2xl text-[#003771] border-b border-solid border-[#003771] py-2 px-4        
    }      

    .bg-radial-g2{  
        background: radial-gradient(85.99% 338.76% at 17.96% 89.28%, #0C3C73 42.27%, #009CD9 100%);
    }    

    .bg-radial-g3{    
        background: radial-gradient(78.7% 152.99% at 13.94% 30.17%, #0C3C73 30.74%, #009CD9 100%) ;
    }
    
    .bg-radial-gradient{
        background: radial-gradient(122.6% 298.87% at 11.12% 30.17%, #0C3C73 42.27%, #009CD9 100%);
    }

    .services_header{
        background: linear-gradient(180deg, transparent 0%, transparent 90%, #FFFFFF 90%), linear-gradient(261.71deg, #EEF1F4 53.13%, #FFFFFF 93.71%);   
    }    

    .rents{
        background: linear-gradient(0deg, #EEF2F4 2.52%, rgba(235, 239, 242, 0) 90.06%); 
    }    
}



