@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{

    .router-link-active{
        @apply bg-slate-600
    }

    .input_primary{
        @apply py-[18px] px-3 bg-white border border-solid border-[#CCCCD1] shadow-[0_0_0_0_#CBDAFC] rounded text-base text-[#26263A] placeholder:text-[#26263A] placeholder:text-base;
    } 

    .bg_aboutUs{
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../img/about.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    body, #__nuxt{
        @apply h-screen m-0 flex flex-col        
    }

    .Prose {        
        grid-template-columns: [full-start] minmax(12px, 1fr) [main-start] minmax(0, 1296px) [main-end] minmax(12px, 1fr) [full-end];        
        @apply grid auto-rows-max
    }

    .Prose > * {
        grid-column: main;
    }

    .Prose-splash {
        grid-column: full;
    }

    .wrapper{
        @apply w-full max-w-[1320px] px-3 mx-auto        
    }

    main{
        @apply grow
    }

    .h1{
        @apply font-bold text-4xl md:text-5xl leading-tight        
    }
    
    .h2{
        @apply font-bold text-2xl md:text-4xl leading-tight 
    }

    .grid-full{
        grid-column: full;
    }
    
    .btn_secondary_big{
        @apply flex py-4 px-7 items-center justify-center rounded font-semibold text-lg uppercase border-2 border-white border-solid cursor-pointer      
    }
    
    .btn_secondary{
        @apply flex items-center justify-center rounded px-3 py-3 font-semibold text-sm uppercase border border-[#003771] text-[#003771] border-solid cursor-pointer
    }
    
    .btn_primary{
        @apply flex items-center justify-center bg-[#003771] rounded px-3 py-3 font-semibold text-sm uppercase border border-[#003771] text-white border-solid cursor-pointer
    }
    
    .btn_primary_big{
        @apply flex py-4 px-7 bg-[#003771] items-center text-white justify-center rounded font-semibold text-lg uppercase border-2 border-white border-solid cursor-pointer
    }

    .proposal{
        background: url(../img/gradient_blue.svg), url(../img/IMG_1.png);
        background-position: left, right;
        background-repeat: no-repeat;    
    }
    
    .catalogs{
        grid-template-columns: [full-start] minmax(170px, 306px) 1fr [full-end];   
    }
    
    .advantages{
        background: linear-gradient(142.34deg, #003B72 41.73%, #009DD9 129.1%);   
    }

    .tabs .tabs-btn{
        @apply flex bg-[#F2F4F6] rounded-lg w-fit cursor-pointer font-light text-base        
    }
    
    .tabs .tabs-btna{
        @apply p-4 rounded-lg    
    }
    
    .tabs .tabs-btna.is-active {
        @apply border border-solid border-black p-[15px] bg-white  
    }    

    .tabs .tabs-component-tabs{
        @apply flex gap-4 overflow-auto        
    }
    
    .tabs .tabs-component-tabs::-webkit-scrollbar{
        @apply h-0
    }
    
    .tabs-component-panel{
        @apply flex gap-4 mt-4          
    }    

    .choose .swiper-button-prev , .choose .swiper-button-next{   
        @apply w-14 h-14 mt-0 -translate-y-1/2 absolute max-md:hidden      
    }
    
    .choose .swiper-button-prev {   
        content: url('~/assets/img/swiper-prev.svg');
    }
    
    .choose .swiper-button-next {   
        content: url('~/assets/img/swiper-next.svg');
    }
    
    .choose .swiper-button-prev:after {   
        content: "";
    }       
    
}
/* Стили формы */

.feedback .btn_primary{
    max-width: 306px;
    width: 100%;
    height: 58px;    
    font-size: 18px;
    line-height: 22px;        
    text-transform: uppercase;
    margin: auto;
    margin-top: 25px;
}

/* Стили swiper */

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: ''!important;
    transform:scale(1.5);
}

.mySwiper2{
    max-height: 390px;
    margin-bottom: 17px;
}

.mySwiper2 .swiper-wrapper{
    max-height: 390px;
}

.mySwiper2 .swiper-slide{
    max-height: 390px;    
}

.mySwiper2 .swiper-slide img{
    width: 100%;
    object-fit: cover;
    max-height: 400px;
    height: 390px;
}

.mySwiper .swiper-slide {    
    opacity: 1;
    cursor: pointer;
    height: 87px;
}

.mySwiper .swiper-slide img{    
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/* Стили */

body{
    font-family: 'Museo Sans Cyrl';
}


.additional_text{
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #26263A;
    padding: 77px 0 200px;
}

.additional_text .headling{
    font-family: 'Gogh';
    font-weight: 800;
    font-size: 36px;
    line-height: 120%;    
    color: #26263A;
    margin-bottom: 38px;  
}

.other_box {    
    background: linear-gradient(173.16deg, #EEF1F4 5.74%, #FFFFFF 103.32%);
}

ol{
    list-style-position: inside;
}

.calc_body{
    display: flex;
    gap: 46px;
}

.calc_box .headling{
    margin-bottom: 68px;   
    word-wrap: break-word;
}
.calc_box .calc{
    max-width: 523px;
}

.calc_box .calc .form .btn_primary{
    max-width: 306px;
    height: 58px;
    margin-top: 18px;
}

.calc_box .calc .ol{
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    font-size: 16px;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 42px;
}

.services_header{
    background: linear-gradient(180deg, transparent 0%, transparent 90%, #FFFFFF 90%), linear-gradient(261.71deg, #EEF1F4 53.13%, #FFFFFF 93.71%);
    margin-bottom: 80px;
}

.services_header .breadcrumbs{
    margin-top: 13px;
    margin-bottom: 48px;
}

.services_header .wrapper{
    display: flex;
    justify-content: space-between;    
    gap: 20px;
}

.services_header .wrapper .headling:before{
    display: block;
    content: '';    
    width: 17px;
    height: 77px;
    top: 0;
    bottom: 0;
    background-color: #0092d1;    
    transform: skew(-12deg);
    max-height: 77px;
}

.services_header .wrapper .headling{
    display: flex;    
    align-items: center;
    gap: 34px;
}

.services{
    display: grid;
    gap:24px;
    grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
    margin-bottom: 110px;
}

.services .card{
    display: flex;
    flex-direction: column;
    padding: 16px 24px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    transition: box-shadow linear .5s, background linear .5s;
    cursor: pointer;
}

.services .card:hover{
    background: #F5F8FB;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);    
}

.services .card:hover .headling{
    text-decoration-line: underline;
    color: #003771;    
}

.services .card:hover .link{
    font-size: 16px;
    line-height: 19px;      
}

.services .card img{
    margin: 0 auto;
    margin-bottom: 8px;
}

.services .card .headling{
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 16px;
    transition: color linear .5s;
}

.services .card .description{
    margin-bottom: 38px;
}

.services .card .link{
    width: fit-content;
    gap: 16px;
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #009DD9;
    text-align: center;
    transition: all linear .5s;
    align-self: center;
    margin-top: auto;
}

.services .card .link img{
    opacity: 0;
    visibility: hidden;
    transition: visibility linear .1s, opacity .1s linear .5s;
}

.services .card:hover .link img{
    opacity: 1;
    visibility: visible;
}

.rents{
    background: linear-gradient(0deg, #EEF2F4 2.52%, rgba(235, 239, 242, 0) 90.06%);
    padding: 95px 0 86px;
    margin-bottom: 95px;    
}

.rents .wrapper{
    display: grid;
    grid-template-columns: [full-start]repeat(auto-fill, minmax(280px, 1fr))[full-end];
    gap: 24px;
}

.rents .wrapper .h2{
    margin-bottom: 44px;
}

.rents .wrapper .btn{
    max-width: fit-content;
    margin: auto;
    margin-top: 33px;    
}

.rents .wrapper .card{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 50px 23px 30px 23px;
    border-radius: 16px;
    transition: background linear .5s, box-shadow linear .5s;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
}

.rents .wrapper .card .title{
    margin-top: auto;
}

.rents .wrapper .card:hover{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.Benefits {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 86px;
    background: url(../img/Benefits.svg);
    background-repeat: no-repeat;background-position: right 221px;
}

.Benefits .text_img_box{
    margin-bottom: 120px;
}

.Benefits .additionally{
    display: flex;
    gap:33px;
    padding: 62px 115px 42px;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    background: radial-gradient(78.7% 152.99% at 13.94% 30.17%, #0C3C73 30.74%, #009CD9 100%) ;
    color: #fff;
    margin-bottom: 120px;
}

.Benefits .additionally p{
    max-width: 628px;
}

.Benefits .wrapper .headling{
    margin-bottom: 53px;
    max-width: 885px;
}

.Benefits .ul_title{
    list-style: disc;
    list-style-position: inside;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;
}

.Benefits .ul{
    list-style: disc;
    list-style-position: inside;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    flex-shrink: 0.33;
}

.Benefits .description{
    margin: 33px 0 42px;
    font-size: 20px;
    line-height: 150%;
}

.Benefits .title{
    margin-bottom: 70px;
}

.Benefits .text_img_box .btn{
    width: 310px;
    margin-top: 42px;
} 

.text_img_box{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.text_img_box .text{
    max-width: 594px;
    flex-shrink: 2;
}

.bg-radial-g2{  
    background: radial-gradient(85.99% 338.76% at 17.96% 89.28%, #0C3C73 42.27%, #009CD9 100%);
}

.history::before{
    content: " ";
    background: #D2E0ED;
    height: 1px;
    width: calc(100vw - 30px);
    position: absolute;
    top: 281px;
    transform: translateX(-50%);
    left: 50%;
}

.history .swiper-wrapper{
    margin-top: 80px;
}

.history .swiper-pagination{
    display: flex;
    gap: 10px;
    top:0;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
}

.history .swiper-pagination::-webkit-scrollbar{
    height: 0;
}   

.history .swiper-pagination .swiper-pagination-bullet{
    width: auto;
    content: "";
    background: none;
    color: #009DD9;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    opacity: 1;
    height: fit-content;
    border-radius: 0;    
    font-family: Arial, sans-serif;
}

.history .swiper-pagination .swiper-pagination-bullet-active{
    font-weight: 700;
    font-size: 26px;
    line-height: 22px;
    color: #003771;
    border-bottom: 3px solid #003771;
    padding: 8px 16px;
}

.history .swiper-button-prev , .history .swiper-button-next{   
    width: 53px;
    height: 53px;
    transform: translateY(-50%);
    margin-top: 0;
    position: absolute;
}

.history .swiper-button-prev {   
    content: url('~/assets/img/swiper-prev.svg');
    left: 0;
}

.history .swiper-button-next {   
    content: url('~/assets/img/swiper-next.svg');
    right: 0;
}

.history .swiper-button-prev:after {   
    content: "";
}



.bg-radial-gradient{
    background: radial-gradient(122.6% 298.87% at 11.12% 30.17%, #0C3C73 42.27%, #009CD9 100%);
}

@media (max-width:767px) {
    

    .text_img_box{
        flex-direction: column;
    }

    .text_img_box .text{
        order:1;
    }

    /* Стили swiper */

    .mySwiper2{
        max-height: 295px; 
        margin-bottom: 6px;   
    }

    .mySwiper2 .swiper-wrapper{
        max-height: 295px;
    }

    .mySwiper2 .swiper-slide{
        max-height: 295px;    
    }

    .mySwiper2 .swiper-slide img{   
        max-height: 295px;
        height: 295px;
    }

    .mySwiper .swiper-slide {        
        height: 74px;
    }    

   

    .proposal{
        background:  url(../img/radial_gradient_blue.svg);
        background-position:right bottom;
        background-repeat: no-repeat;
        background-size: cover;        
    }
    
    .additional_text  {        
        font-size: 24px;    
        padding: 22px 0 36px ;         
        font-size: 16px;        
    }

    .additional_text .headling {        
        font-size: 24px;      
        margin-bottom: 24px;  
    } 


    .other_box {      
        background: linear-gradient(173.16deg, #EEF1F4 5.74%, #FFFFFF 103.32%);
    }        
    .proposal_2 {   
        background: url(../img/image8.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 554px;
        background-position: bottom;
        padding: 57px 0 49px;    
        margin-bottom: 47px;
    }   
    
   
    .feedback .btn_primary {        
        margin-top: 16px;
    }    
    
    .calc_body{
        flex-direction: column;
        gap: 18px;
    }

    .calc_body .calc{
        max-width: none;
        order: 2;
    }

    .services{        
        gap:11px;
        grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
        margin-bottom: 53px;
    }    

    .services_header{
        margin-bottom: 36px;
        background: #F4F5F7;
    }      
    
    .services_header .wrapper{        
        flex-direction: column;        
    }

    .services_header .wrapper .img img{
        width: 100%;
        max-height: 323px;
        object-fit: cover;
        object-position: center;
    }

    .services_header .wrapper .img{
        width: calc(100% + 24px);
        margin-left: -12px;
    }
    
    .services_header .wrapper .headling:before{        
        max-height: 48px;
    }
    
    .services_header .wrapper .headling{ 
        font-size: 31px;       
        gap: 22px;
        margin: 57px 0 50px ;
    }

    .services .card>img{
        height: 100px;
    }

    .services .card .link>img{
        display: none;
    }

    .services .card .description {
        margin-bottom: 11px;
    }

    .services .card .headling{
        font-size: 16px;
        margin-bottom: 11px;
    }

    .Benefits .additionally{
        flex-direction: column;
    }    

    .Benefits .additionally {       
        padding: 36px 12px 42px;             
        margin-bottom: 40px;
        width: calc(100% + 24px);
        margin-left:-12px ;
    }

    .Benefits .text_img_box .btn{
        margin-top: 16px;
        width: 100%;
    }

    .Benefits .text_img_box {
        margin-bottom: 40px;
    }   

    .Benefits .title{
        margin-bottom: 14px;
    }

    .Benefits .wrapper .headling{
        margin-bottom: 14px;
    }    

    .text_img_box{
        gap:14px;
    }

    .Benefits .description {
        margin:  0 0 24px 0;        
        font-size: 16px;
    }

    .Benefits .ul_title {        
        margin-bottom: 6px;
    }    

    .rents .wrapper .card{
        font-size: 14px;
        padding: 0 10px;
    }

    .rents .wrapper .h2 {
        margin-bottom: 10px;
    }

    .rents .wrapper .btn {
       display: none;
    }    

    .history .swiper-slide {
        display: flex;
        gap: 80px;
        flex-direction: column;
    }

    .history .swiper-slide>.text {
        flex: 1;
    }

    .history .swiper-slide>.img {
        flex: 1;
    }

    .history .swiper-slide .text {        
        margin-left: 0;
    }
    
}

@media (max-width:649px) {   

    .history {
        display: grid;
        grid-template-columns: [full-start] 1fr 1fr  [full-end];
        justify-items: center;
    }

    .history .swiper {
        grid-column: full;
    }

    .history .swiper-button-prev, .history .swiper-button-next{
        grid-row: 3;
    }  
    
    .history {        
        padding: 50px 0;
    }

    .history .swiper-pagination {
        overflow: scroll;
    }

    .history .headling {
        margin-bottom: 0;       
    }

    .history .swiper-slide {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
 }

@media (max-width:449px) {  

    .mySwiper2{
        max-height: 195px;    
    }
    
    .mySwiper2 .swiper-wrapper{
        max-height: 195px;
    }
    
    .mySwiper2 .swiper-slide{
        max-height: 195px;    
    }
    
    .mySwiper2 .swiper-slide img{   
        max-height: 195px;
        height: 195px;
    }
    
    .mySwiper .swiper-slide {        
        height: 74px;
    }

    .rents {
        background: linear-gradient(0deg, #EEF2F4 2.52%, rgba(235, 239, 242, 0) 90.06%);
        padding: 54px 0 34px;
        margin-bottom: 54px;
    }
    
    .rents .wrapper {       
        grid-template-columns: [full-start]repeat(auto-fill, minmax(133px, 1fr))[full-end];        
    }  

}